<section data-ng-controller="ReviewsController" data-ng-init="find()">
    <div class="page-header">
        <h1>Reviews</h1>
    </div>
    <div class="list-group">
        <a data-ng-repeat="review in reviews" data-ng-href="/reviews/{{review._id}}" class="list-group-item">
			<small class="list-group-item-text">
				Posted on
				<span data-ng-bind="review.created | date:'medium'"></span>
				by
				<span data-ng-bind="review.user.displayName"></span>
			</small>
			<h4 class="list-group-item-heading" data-ng-bind="review.name"></h4>
        </a>
    </div>
    <div class="alert alert-warning text-center" data-ng-hide="!reviews.$resolved || reviews.length">
    	No Reviews yet, why don't you <a href="/reviews/create">create one</a>?
    </div>
</section>