<md-content class="md-padding panel">
    <div style="margin: 0 auto; max-width: 960px">
        <h1>About The Plaza</h1>
        <h4>
            Welcome!
        </h4>
        <p>
            This is a place for people who love incremental, idle, and clicker games to come together as a community.
        </p>
        <p>
            Most of our data are sourced from our users. Our members can:
            <ol>
                <li>Add games to the list</li>
                <li>Edit basic game information</li>
                <li>Tag games to make them easier to find</li>
                <li>Upload pictures</li>
                <li>So much more, new features actively being developed!</li>
            </ol> 
            
            We at The Plaza believe it's important that people who use the site ultimately decide what pieces of information is useful to other members, which is why 
            we allow our users to freely update information. We believe that these idle games are mostly made by indie developers, and they need all the help they can get
            in getting noticed. We list popular and well known games as well as hidden gems, and with some luck our algorithms and community of users will help the best
            ones get to the top.
        </p>
        <h4>Unacceptable use</h4>
        <p>
            Abuse and vandalism is not tolerated. We understand that this kind of leniency means others can potentially cause problems with the site. 
            Therefore everything is logged, so that we can undo damage. We also hope that like Wikipedia, the community will be able to wield their powers responsibly.
            The administrators at The Plaza may use at their discretion the almighty ban-hammer.
        </p>
        <h4>Join us</h4>
        <p>
            Anyone can join. Simply log in with your Reddit account, and if you don't have a Reddit account, it is free and easy to make one. Logging on gives you the privilege of membership. For the time being, Reddit
            is our only way to log in since this site was originally designed to serve the <a href="https://www.reddit.com/r/incremental_games" target="_new">/r/incremental_games</a>
            subreddit.
        </p>
        <p>&nbsp;</p>
        <p>
            And so, we welcome you and hope you sign up with us and actively participate in The Plaza. Check back daily for updates!
        </p>
        <p>&nbsp;</p>
        <p>
            P.S. Follow <a href="https://twitter.com/dSolver" target="_new">@dSolver</a> on Twitter (The guy who made this site possible)
        </p>
        
        <p style="margin: 20px 0; text-align: center; font-size: 75%">

        </p>
    </div>
</md-content>