<md-content layout-gt-sm="row" layout-padding data-ng-controller="AuthenticationController">
	<div flex-gt-sm>
		<h3>Sign in with Reddit</h3>
		<div>
			<a href="/auth/reddit" >
				<img src="/modules/users/img/buttons/reddit.png" style="height:128px">
			</a>
			<!--
			<a href="/auth/google">
				<img src="/modules/users/img/buttons/google.png" style="height: 128px">
			</a>
			<a href="/auth/github">
				<img src="/modules/users/img/buttons/github.png" style="height: 128px">
			</a>
			<a href="/auth/steam">
				<img src="/modules/users/img/buttons/steam.png" style="height: 128px">
			</a>-->
		</div>
	</div>
	<!--<div flex-gt-sm>
		<h3>Or with your account</h3>
		<div>
			<form data-ng-submit="signin()" class="signin" autocomplete="on">
				<md-content>
					<md-input-container>
						<label for="username">Username</label>
						<input type="text" name="username" data-ng-model="credentials.username" placeholder="Username">
					</md-input-container>
					<md-input-container class="form-group">
						<label for="password">Password</label>
						<input type="password" name="password" data-ng-model="credentials.password" placeholder="Password">
					</md-input-container>
					<div class="md-actions">
						<md-button type="submit" class="md-primary raised" aria-label="Sign in">Sign in</md-button>&nbsp; or&nbsp;
						<md-button href="/#!/signup" aria-label="Sign up">Sign up</md-button>
					</div>
					<md-input-container class="forgot-password">
						<a href="/#!/password/forgot">Forgot your password?</a>
					</md-input-container>
					<div data-ng-show="error" class="text-center text-danger">
						<strong data-ng-bind="error"></strong>
					</div>
				</md-content>
			</form>
		</div>
	</div>-->
</section>