<md-dialog class="fullscreen-dialog">
    <md-toolbar class="md-primary">
        <div class="md-toolbar-tools">
            <h3>Edit {{discussion.name}}</h3>
            <span flex></span>
            <md-button ng-click="closeDialog()" class="md-icon-button" aria-label="Close">
                <md-icon class="fa fa-lg" md-font-icon="fa-times"></md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <md-dialog-content>
        <md-input-container>
            <label>Content</label>
            <textarea ng-model="discussion.content">
            </textarea>
        </md-input-container>
    </md-dialog-content>
    <div class="md-actions" layout="row" layout-align="bottom right">
        <md-button ng-click="closeDialog()" aria-label="Cancel" class="md-primary">Cancel</md-button>
        <md-button ng-click="updateDiscussion()" aria-label="Submit" class="md-primary">Submit</md-button>
        <div data-ng-show="error" class="text-danger">
            <strong data-ng-bind="error"></strong>
        </div>
    </div>
</md-dialog>
