<md-content data-ng-controller="SettingsController">
	<h3>Change your password</h3>
	<div class="col-xs-offset-2 col-xs-8 col-md-offset-5 col-md-2">
		<form data-ng-submit="changeUserPassword()" class="md-padding" autocomplete="off">
			<md-input-container>
				<label>Current Password</label>
				<input type="password" name="currentPassword" data-ng-model="passwordDetails.currentPassword" placeholder="Current Password">
			</md-input-container>

			<md-input-container>
				<label>New Password</label>
				<input type="password" name="newPassword" data-ng-model="passwordDetails.newPassword" placeholder="New Password">
			</md-input-container>
			<md-input-container>
				<label>Verify Password</label>
				<input type="password" name="verifyPassword" data-ng-model="passwordDetails.verifyPassword" placeholder="Verify Password">
			</md-input-container>

			<md-button type="submit" class="md-primary md-raised">Save Password</md-button>
			
			<div data-ng-show="success" class="text-center text-success">
				<strong>Password Changed Successfully</strong>
			</div>
			<div data-ng-show="error" class="text-center text-danger">
				<strong data-ng-bind="error"></strong>
			</div>
		</form>
	</div>
</md-content>